<app-navbar-custom></app-navbar-custom>
<div class="row justify-content-center w-100">
    <div class="col-8">
        <mat-card>
            <mat-card-header>
                <mat-card-title>What does it take to make a WAKE?</mat-card-title>
                <mat-card-subtitle>Part 5: Covering up; filler, floral flourish, and first form – February 17, 2021 Fabrication Team</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-7/CameraCover.jpg" alt="Camera Cover" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 1: Camera Cover</figcaption>
                <p class="blog-content">
                    After the glue had finally dried, further work could continue with the frame. The largest task remaining
                    was to install a camera cover for the WAKE’s webcam that could be easily opened in the morning or closed
                    at night when users went to bed. For this, a decorative floral bed bolt cover would be used as the movable
                    cover on the frame. As the brass wood screw that came with the bed bolt was quite short and was difficult
                    to screw into the wood due to its large diameter, a nail was used to first make a small pilot hole as
                    shown in Figure 2. With this hole in place, the top of the bed bolt cover could be screwed loosely into
                    place to act as a pin joint on the unthreaded shank which allowed the rest of the cover to swing freely
                    side to side.
                </p>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-7/PinHole.png" alt="Pin Hole Cover" style="width: 70%">
                </div>
                <figcaption class="figure-caption-custom">Figure 2: Pin Hole Cover – Nail (Left), Pilot Hole (Middle), Brass Wood Screw Fastened (Right)</figcaption>

                <p class="blog-content">
                    Next, to have the cover rest in fixed positions when the WAKE system was being used or at night to cover
                    the webcam 3 nails were added to the frame. As shown in Figure 3, these cover nails had to be ground
                    down on the grinder so that they didn’t protrude out the back of the frame. The cover nails were placed
                    at the bottom and side positions along the arc of the freely spinning bed bolt cover.
                </p>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-7/CoverNails.png" alt="Cover Nails – Tip Ground Down (Left), Two Nails Installed (Right)" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 3: Cover Nails – Tip Ground Down (Left), Two Nails Installed (Right)</figcaption>

                <p class="blog-content">
                    As the steel nails are magnetic, the bed bolt cover was modified with a strong magnetic held in silicone
                    underneath the surface features as shown in Figure 4. Additionally, the remaining brass wood screw was
                    ground down to its unthreaded shank length, then punched into place with a light coat of silicone to
                    ensure it does not dig or scratch the front of the wood frame. The results of this can be seen in Figure 5,
                    with the camera held in place, and the cover magnetically snapped to the right side position.
                </p>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-7/CameraCover.jpg" alt="Camera Cover – Aesthetic Screw and Magnet" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 4: Camera Cover – Aesthetic Screw and Magnet</figcaption>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-7/CoverNails.png" alt="Camera Cover Demo" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 5: Camera Cover Demo</figcaption>

                <p class="blog-content">
                    Another feature that can be noticed in Figure 5 is the gaps in the wood all the glued mitre joints of
                    the frame. Hence, the final step in preparing the frame for staining was to use wood filler to cover
                    these gaps. While wood filler can be purchased it is cheaper and easier to match the filler colour to
                    that of the working piece by using the fine particles of sawdust from previous stages of fabrication.
                    This sawdust had been collected at each of the previous routing and cutting stages in preparation for
                    such a need. It can be seen in Figure 6, that a small pile of fine cherry sawdust is collected on the
                    back of a piece of sandpaper, while slightly coarser dust is piled beside. This is after the extremely
                    coarse pieces had already been filtered out. Also, the same wood glue that was used for the joints of
                    the frame would be used to create the filler adhesive. Taking the small pile of fine sawdust and gradually
                    adding glue to it, while stirring the mixture with a popsicle got the filler to a near cookie dough
                    texture that could be rolled into a tube. This tube was then pressed into the gaps of the frame, Figure 7,
                    and the excess was trimmed away with a putty knife. Days later, once dry, the filler was lightly sanded
                    with fine sandpaper, while the rest of the frame was sanded with medium sandpaper so that it was ready
                    to be stained. The initial form of the WAKE mirror can be seen in Figure 8 below, with all the major
                    mechanical components as the electrical components had yet to be added.
                </p>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-7/Wood%20Filler%20Parts.jpg" alt="Wood Filler Parts – Fine Sawdust and Glue" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 6: Wood Filler Parts – Fine Sawdust and Glue</figcaption>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-7/WoodFillerAppliedToFrame.png" alt=" Wood Filler Applied to Frame" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 7: Wood Filler Applied to Frame</figcaption>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-7/InitialAssembly.png" alt="Initial Assembly" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 8: Initial Assembly</figcaption>

            </mat-card-content>
        </mat-card>
    </div>
</div>

