<app-navbar-custom></app-navbar-custom>
<div class="row justify-content-center">
    <div  class="col-8">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Temporary blog template</mat-card-title>
                <mat-card-subtitle>January 18, 2021</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p class="blog-content">
                    temporary blog description
                </p>
                <img mat-card-image src="assets/TimHeadshot.png" alt="Angular image">
                <figcaption class="figure-caption-custom">temporary caption</figcaption>
                <p class="blog-content">
                    Ipsam iste delectus blanditiis est. Quis aut architecto dolor reiciendis ut. Dolorum quia magni distinctio ut ab quia.
                </p>
                <mat-card-subtitle class="blog-content-subtitle">Second subheading</mat-card-subtitle>
                <p class="blog-content">
                    Quis sed vel totam possimus voluptatem consequuntur. Aliquid itaque suscipit tenetur. Odio fuga veritatis atque quae molestiae.
                </p>
                <p class="blog-content">
                    Doloremque quod voluptatum animi et eos quo optio. Autem qui asperiores neque. Necessitatibus non autem provident cum ea non. Maiores eaque et ad beatae neque. Excepturi aut ea dolores natus. Ut ut architecto voluptas vel sint debitis sed cupiditate.
                </p>
                <p class="blog-content">
                    Ut repellendus maxime repudiandae quae dolorem. Velit id sint perspiciatis sed animi. Aut voluptas sed reprehenderit quia voluptate ea voluptatem eius. Cumque quam nesciunt consequuntur provident similique nisi laudantium. Voluptas et earum expedita soluta.
                </p>
                <p class="blog-content">
                    Omnis omnis similique quod fugit et. Consequatur ut nesciunt sunt. Qui nihil eveniet sit cum odit quia quia. Ullam odio consectetur ut. Voluptatem non aut porro occaecati voluptas laboriosam nihil.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>

