<app-navbar-custom></app-navbar-custom>

<div class="row justify-content-center">
    <div class="col align-content-between">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                <mat-card style="margin-top: 64px">
                    <mat-card-header>
                        <mat-card-title>Dayton Salmon</mat-card-title>
                        <mat-card-subtitle>Electromechanical Lead</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <img mat-card-image src="assets/DaytonHeadshot.png" alt="Dayton Salmon Headshot">
                        <p class="about-us-content">
                            Dayton is our team’s fabrication and assembly lead in charge of most of the electromechanical
                            aspects of the project. He has been responsible for large parts of the electromechanical design
                            along with assistance from Tim who was the lead in CAD/Modelling and Sholom in checking calculations.
                            As well, Dayton has been largely involved with the selection, purchase, and acquisition of components
                            and in project management in general. However, when it comes to software, he ain’t touching that with a log(40) pole.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                <mat-card style="margin-top: 64px">
                    <mat-card-header>
                        <mat-card-title>Dominic Faryna</mat-card-title>
                        <mat-card-subtitle>Raspberry Pi Core Lead</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <img mat-card-image src="assets/DomHeadshot.png" alt="Dom Faryna Headshot">
                        <p class="about-us-content">
                            Dominic is one of the team's programmers and is responsible for the code that will run on the
                            Raspberry Pi, including the OpenCV code and ROS. He will also assist the other programming
                            members with they're applications and with ROS integration for them, so that everyone can talk to the Pi.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                <mat-card style="margin-top: 64px">
                    <mat-card-header>
                        <mat-card-title>Sholom Ellenbogen</mat-card-title>
                        <mat-card-subtitle>Frontend Lead</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <img mat-card-image src="assets/SholomHeadshot.png" alt="Sholom Ellenbogen Headshot">
                        <p class="about-us-content">
                            Sholom is our team’s frontend lead for the Magic Mirror application and Wake website as well
                            as being the overall software support. He also aided in verifying all electrical and thermal
                            analysis and calculations performed by Dayton.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                <mat-card style="margin-top: 64px">
                    <mat-card-header>
                        <mat-card-title>Timothy Zheng</mat-card-title>
                        <mat-card-subtitle>Android Development Lead</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <img mat-card-image src="assets/TimHeadshot.png" alt="Tim Zheng Headshot">
                        <p class="about-us-content">
                            Tim is the team's Android development lead and CAD/Modelling lead.
                            He was also heavily involved with the initial design of the mirror and the development of the companion app.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
