<app-navbar-custom></app-navbar-custom>

<div class="row justify-content-center">
    <div class="col align-content-between">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                <mat-card style="margin-top: 64px">
                    <mat-card-header>
                        <mat-card-title>Daytime Salmonela</mat-card-title>
                        <mat-card-subtitle>Beluga Whale Extraordinaire</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <img mat-card-image src="assets/DaytonHeadshot.png" alt="Dayton Salmon Headshot">
                        <p class="about-us-content">
                            Ipsam iste delectus blanditiis est. Quis aut architecto dolor reiciendis ut. Dolorum quia magni distinctio ut ab quia.
                            Quis sed vel totam possimus voluptatem consequuntur. Aliquid itaque suscipit tenetur. Odio fuga veritatis atque quae molestiae.
                        </p>
                        <p class="about-us-content">
                            Ipsam iste delectus blanditiis est. Quis aut architecto dolor reiciendis ut. Dolorum quia magni distinctio ut ab quia.
                            Quis sed vel totam possimus voluptatem consequuntur. Aliquid itaque suscipit tenetur. Odio fuga veritatis atque quae molestiae.
                        </p>
                        <p class="about-us-content">
                            Ipsam iste delectus blanditiis est. Quis aut architecto dolor reiciendis ut. Dolorum quia magni distinctio ut ab quia.
                            Quis sed vel totam possimus voluptatem consequuntur. Aliquid itaque suscipit tenetur. Odio fuga veritatis atque quae molestiae.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                <mat-card style="margin-top: 64px">
                    <mat-card-header>
                        <mat-card-title>Dominican Fairy</mat-card-title>
                        <mat-card-subtitle>Mr code man go burrr</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <img mat-card-image src="assets/DomHeadshot.png" alt="Dom Faryna Headshot">
                        <p class="about-us-content">
                            Ipsam iste delectus blanditiis est. Quis aut architecto dolor reiciendis ut. Dolorum quia magni distinctio ut ab quia.
                            Quis sed vel totam possimus voluptatem consequuntur. Aliquid itaque suscipit tenetur. Odio fuga veritatis atque quae molestiae.
                        </p>
                        <p class="about-us-content">
                            Ipsam iste delectus blanditiis est. Quis aut architecto dolor reiciendis ut. Dolorum quia magni distinctio ut ab quia.
                            Quis sed vel totam possimus voluptatem consequuntur. Aliquid itaque suscipit tenetur. Odio fuga veritatis atque quae molestiae.
                        </p>
                        <p class="about-us-content">
                            Ipsam iste delectus blanditiis est. Quis aut architecto dolor reiciendis ut. Dolorum quia magni distinctio ut ab quia.
                            Quis sed vel totam possimus voluptatem consequuntur. Aliquid itaque suscipit tenetur. Odio fuga veritatis atque quae molestiae.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                <mat-card style="margin-top: 64px">
                    <mat-card-header>
                        <mat-card-title>Shlamaladingdong</mat-card-title>
                        <mat-card-subtitle>Frontend man sadge</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <img mat-card-image src="assets/SholomHeadshot.png" alt="Sholom Ellenbogen Headshot">
                        <p class="about-us-content">
                            Ipsam iste delectus blanditiis est. Quis aut architecto dolor reiciendis ut. Dolorum quia magni distinctio ut ab quia.
                            Quis sed vel totam possimus voluptatem consequuntur. Aliquid itaque suscipit tenetur. Odio fuga veritatis atque quae molestiae.
                        </p>
                        <p class="about-us-content">
                            Ipsam iste delectus blanditiis est. Quis aut architecto dolor reiciendis ut. Dolorum quia magni distinctio ut ab quia.
                            Quis sed vel totam possimus voluptatem consequuntur. Aliquid itaque suscipit tenetur. Odio fuga veritatis atque quae molestiae.
                        </p>
                        <p class="about-us-content">
                            Ipsam iste delectus blanditiis est. Quis aut architecto dolor reiciendis ut. Dolorum quia magni distinctio ut ab quia.
                            Quis sed vel totam possimus voluptatem consequuntur. Aliquid itaque suscipit tenetur. Odio fuga veritatis atque quae molestiae.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                <mat-card style="margin-top: 64px">
                    <mat-card-header>
                        <mat-card-title>Timothy Zhenghini</mat-card-title>
                        <mat-card-subtitle>Mr app man go burr</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <img mat-card-image src="assets/TimHeadshot.png" alt="Tim Zheng Headshot">
                        <p class="about-us-content">
                            Ipsam iste delectus blanditiis est. Quis aut architecto dolor reiciendis ut. Dolorum quia magni distinctio ut ab quia.
                            Quis sed vel totam possimus voluptatem consequuntur. Aliquid itaque suscipit tenetur. Odio fuga veritatis atque quae molestiae.
                        </p>
                        <p class="about-us-content">
                            Ipsam iste delectus blanditiis est. Quis aut architecto dolor reiciendis ut. Dolorum quia magni distinctio ut ab quia.
                            Quis sed vel totam possimus voluptatem consequuntur. Aliquid itaque suscipit tenetur. Odio fuga veritatis atque quae molestiae.
                        </p>
                        <p class="about-us-content">
                            Ipsam iste delectus blanditiis est. Quis aut architecto dolor reiciendis ut. Dolorum quia magni distinctio ut ab quia.
                            Quis sed vel totam possimus voluptatem consequuntur. Aliquid itaque suscipit tenetur. Odio fuga veritatis atque quae molestiae.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>


<!--<div class="row justify-content-center">-->
<!--    <div  class="col-12  col-sm-10 col-md-8 col-lg-6  col-xl-6">-->
<!--        <mat-card>-->
<!--            <mat-card-header>-->
<!--                <mat-card-title>Daytime Salmonela</mat-card-title>-->
<!--                <mat-card-subtitle>Beluga Whale Extraordinaire</mat-card-subtitle>-->
<!--            </mat-card-header>-->
<!--            <mat-card-content>-->
<!--                <img mat-card-image src="assets/DaytonHeadshot.png" alt="Dayton Salmon Headshot">-->
<!--                <p class="about-us-content">-->
<!--                    Ipsam iste delectus blanditiis est. Quis aut architecto dolor reiciendis ut. Dolorum quia magni distinctio ut ab quia.-->
<!--                    Quis sed vel totam possimus voluptatem consequuntur. Aliquid itaque suscipit tenetur. Odio fuga veritatis atque quae molestiae.-->
<!--                </p>-->
<!--                <p class="about-us-content">-->
<!--                    Ipsam iste delectus blanditiis est. Quis aut architecto dolor reiciendis ut. Dolorum quia magni distinctio ut ab quia.-->
<!--                    Quis sed vel totam possimus voluptatem consequuntur. Aliquid itaque suscipit tenetur. Odio fuga veritatis atque quae molestiae.-->
<!--                </p>-->
<!--                <p class="about-us-content">-->
<!--                    Ipsam iste delectus blanditiis est. Quis aut architecto dolor reiciendis ut. Dolorum quia magni distinctio ut ab quia.-->
<!--                    Quis sed vel totam possimus voluptatem consequuntur. Aliquid itaque suscipit tenetur. Odio fuga veritatis atque quae molestiae.-->
<!--                </p>-->
<!--            </mat-card-content>-->
<!--        </mat-card>-->

<!--        <mat-card style="margin-top: 64px">-->
<!--            <mat-card-header>-->
<!--                <mat-card-title>Dominican Fairy</mat-card-title>-->
<!--                <mat-card-subtitle>Mr code man go burrr</mat-card-subtitle>-->
<!--            </mat-card-header>-->
<!--            <mat-card-content>-->
<!--                <img mat-card-image src="assets/DomHeadshot.png" alt="Dom Faryna Headshot">-->
<!--                <p class="about-us-content">-->
<!--                    Ipsam iste delectus blanditiis est. Quis aut architecto dolor reiciendis ut. Dolorum quia magni distinctio ut ab quia.-->
<!--                    Quis sed vel totam possimus voluptatem consequuntur. Aliquid itaque suscipit tenetur. Odio fuga veritatis atque quae molestiae.-->
<!--                </p>-->
<!--                <p class="about-us-content">-->
<!--                    Ipsam iste delectus blanditiis est. Quis aut architecto dolor reiciendis ut. Dolorum quia magni distinctio ut ab quia.-->
<!--                    Quis sed vel totam possimus voluptatem consequuntur. Aliquid itaque suscipit tenetur. Odio fuga veritatis atque quae molestiae.-->
<!--                </p>-->
<!--                <p class="about-us-content">-->
<!--                    Ipsam iste delectus blanditiis est. Quis aut architecto dolor reiciendis ut. Dolorum quia magni distinctio ut ab quia.-->
<!--                    Quis sed vel totam possimus voluptatem consequuntur. Aliquid itaque suscipit tenetur. Odio fuga veritatis atque quae molestiae.-->
<!--                </p>-->
<!--            </mat-card-content>-->
<!--        </mat-card>-->

<!--        <mat-card style="margin-top: 64px">-->
<!--            <mat-card-header>-->
<!--                <mat-card-title>Shlamaladingdong</mat-card-title>-->
<!--                <mat-card-subtitle>Frontend man saj</mat-card-subtitle>-->
<!--            </mat-card-header>-->
<!--            <mat-card-content>-->
<!--                <img mat-card-image src="assets/SholomHeadshot.png" alt="Sholom Ellenbogen Headshot">-->
<!--                <p class="about-us-content">-->
<!--                    Ipsam iste delectus blanditiis est. Quis aut architecto dolor reiciendis ut. Dolorum quia magni distinctio ut ab quia.-->
<!--                    Quis sed vel totam possimus voluptatem consequuntur. Aliquid itaque suscipit tenetur. Odio fuga veritatis atque quae molestiae.-->
<!--                </p>-->
<!--                <p class="about-us-content">-->
<!--                    Ipsam iste delectus blanditiis est. Quis aut architecto dolor reiciendis ut. Dolorum quia magni distinctio ut ab quia.-->
<!--                    Quis sed vel totam possimus voluptatem consequuntur. Aliquid itaque suscipit tenetur. Odio fuga veritatis atque quae molestiae.-->
<!--                </p>-->
<!--                <p class="about-us-content">-->
<!--                    Ipsam iste delectus blanditiis est. Quis aut architecto dolor reiciendis ut. Dolorum quia magni distinctio ut ab quia.-->
<!--                    Quis sed vel totam possimus voluptatem consequuntur. Aliquid itaque suscipit tenetur. Odio fuga veritatis atque quae molestiae.-->
<!--                </p>-->
<!--            </mat-card-content>-->
<!--        </mat-card>-->

<!--        <mat-card style="margin-top: 64px">-->
<!--            <mat-card-header>-->
<!--                <mat-card-title>Timothy Zhenghini</mat-card-title>-->
<!--                <mat-card-subtitle>Mr app man go burr</mat-card-subtitle>-->
<!--            </mat-card-header>-->
<!--            <mat-card-content>-->
<!--                <img mat-card-image src="assets/TimHeadshot.png" alt="Tim Zheng Headshot">-->
<!--                <p class="about-us-content">-->
<!--                    Ipsam iste delectus blanditiis est. Quis aut architecto dolor reiciendis ut. Dolorum quia magni distinctio ut ab quia.-->
<!--                    Quis sed vel totam possimus voluptatem consequuntur. Aliquid itaque suscipit tenetur. Odio fuga veritatis atque quae molestiae.-->
<!--                </p>-->
<!--                <p class="about-us-content">-->
<!--                    Ipsam iste delectus blanditiis est. Quis aut architecto dolor reiciendis ut. Dolorum quia magni distinctio ut ab quia.-->
<!--                    Quis sed vel totam possimus voluptatem consequuntur. Aliquid itaque suscipit tenetur. Odio fuga veritatis atque quae molestiae.-->
<!--                </p>-->
<!--                <p class="about-us-content">-->
<!--                    Ipsam iste delectus blanditiis est. Quis aut architecto dolor reiciendis ut. Dolorum quia magni distinctio ut ab quia.-->
<!--                    Quis sed vel totam possimus voluptatem consequuntur. Aliquid itaque suscipit tenetur. Odio fuga veritatis atque quae molestiae.-->
<!--                </p>-->
<!--            </mat-card-content>-->
<!--        </mat-card>-->
<!--    </div>-->
<!--</div>-->
























<!--<div class="row justify-content-center">-->
<!--    <div class="col-4">-->
<!--        <mat-card>-->
<!--            <mat-card-header>-->
<!--                <mat-card-title>Daytime Salmonela</mat-card-title>-->
<!--                <mat-card-subtitle>Beluga Whale Extraordinaire</mat-card-subtitle>-->
<!--            </mat-card-header>-->
<!--            <mat-card-content>-->
<!--                <div class="row">-->
<!--                    <div class="col-6">-->
<!--                        <p>-->
<!--                           foogaloo  asd fasdfjh;al ksdjklfaj d;slkas f;lkdjas ;flk j;daslkjf lkasjd;lfkj laskdjf dkfj kdjf kdkj fkdsj fk-->
<!--                        </p>-->
<!--&lt;!&ndash;                        <img src="assets/DaytonHeadshot.png">&ndash;&gt;-->
<!--                    </div>-->
<!--                    <div class="col-6">-->
<!--                        <p>-->
<!--                            Ipsam iste delectus blanditiis est. Quis aut architecto dolor reiciendis ut. Dolorum quia magni distinctio ut ab quia.-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </mat-card-content>-->
<!--        </mat-card>-->
<!--    </div>-->
<!--</div>-->


