/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/purple-green.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.blog-content {
    margin: 16px !important;
    font-size: 18px;
    line-height: 26px;
    text-align: justify;
}

.blog-content-subtitle {
    padding-top: 28px !important;
    margin-left: 16px !important;
    font-size: 24px;
}

.figure-caption-custom {
    text-align: center;
    margin-bottom: 36px !important;
    font-size: 14px;
    color: rgb(210,210,210);
}

.figure-image-container {
    text-align: center;
    margin-top: 24px !important;
}
.figure-image-container-code-left-aligned {
    margin-bottom: 12px;
}

.figure-image {
    height: auto;
}
