<app-navbar-custom></app-navbar-custom>
<div class="row justify-content-center">
    <div class="col-8">
        <mat-card>
            <mat-card-header>
                <mat-card-title>What does it take to make a WAKE?</mat-card-title>
                <mat-card-subtitle>Part 1: Cuts, and chamfers, and slots oh my! – January 27, 2021 Fabrication Team</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="figure-image">
                    <img src="assets/blog3/Personal_Notebook.jpg" alt="Personal Notebook">
                </div>
                <figcaption class="figure-caption-custom">Figure 1: Personal Notebook</figcaption>
                <p class="blog-content">
                    Hindsight is very 2020, especially now, when realizing that more photos at the start of the project
                    would have helped now in describing what was done. But, in case your imagination is as out of use as
                    mine, we have painstakingly recreated the initial wood cuts purchased from AJW Specialty Wood using
                    notes in my logbook (as ink is the best form of memory). Because of the expected difficulties in fabrication
                    due to the pandemic and not knowing someone who personally owns a suitable wood planner, at the start
                    of December when all the material was acquired, the wood was planned, cut, and dressed at AJW for $30.00
                    in under 30 minutes. Two pieces of cherrywood were purchased. A 48” x 13” x 1” piece to be used as the
                    main enclosure members (excluding the large knot in the wood), and a 112” x 6” x ½” piece for the front
                    frame of the mirror members. Now, as much as I appreciate the engineering challenge of transporting
                    a 9’ 4” piece on hardwood in my Ford Fusion, that did not seem safe or practical. Hence, the frame piece
                    was cut in half so that it would fit instead my car for safe transportation and to avoid questions from
                    the police over the secureness of the load.
                </p>


                <div class="figure-image">
                    <img src="assets/blog3/Paint%20Recreation.png" alt="Paint Recreation – Initial pieces of cherry wood purchased from AJW ">
                </div>
                <figcaption class="figure-caption-custom">Figure 2: Paint Recreation – Initial pieces of cherry wood purchased from AJW</figcaption>
                <p class="blog-content">
                    Upon arriving at Salmon Plumbing the first day with all the material and extra equipment, we decided
                    to start with the easiest task first. This involved using the table saw to cut the large 1” thick piece
                    of cherry wood into 4 pieces, all 3.5” wide. The 2 side pieces of the enclosure were 21.5” long, with
                    the top and bottom pieces being 14.5” long. Using the fence on the table saw the widths were cut first.
                    It was noticed that slowly moving the blade through the wood caused the wood to be burnt by the friction
                    of the rotating saw blade, which also produces considerable fumes. Therefore, the second cut on the
                    table saw and remaining cuts with the mitre saw were done with quicker motions to prevent the wood from
                    being burnt and the production of fumes. With that task completed, it was decided to use the mitre saw
                    to cut the enclosure pieces down to length with the designed 45° mitre cut ends. Once this was done,
                    the ends of each piece were sanded and set aside to be glued at the end of the day.
                </p>

                <div class="figure-image">
                    <img src="assets/blog3/Burnt%20Cherry%20wood.jpg" alt="Burnt cherry wood, moving worst to best (left to right)">
                </div>
                <figcaption class="figure-caption-custom">Figure 3: Burnt cherry wood, moving worst to best (left to right)</figcaption>
                <div class="figure-image">
                    <img src="assets/blog3/Combo%20Mitre.png" alt="Mitre saw, Mitre Angle 1, Mitre Angle 2, Mitre cut">
                </div>
                <figcaption class="figure-caption-custom">Figure 4: Mitre saw, Mitre Angle 1, Mitre Angle 2, Mitre cut</figcaption>
                <div class="figure-image">
                    <img src="assets/blog3/Side%20Member%20Enclosure.jpg" alt="Side Member Enclosure">
                </div>
                <figcaption class="figure-caption-custom">Figure 5: Side Member Enclosure</figcaption>
                <p class="blog-content">
                    A similar process was followed for the ½” thick cherry wood frame pieces. Using the table saw the 2
                    pieces on hand were cut into 4 pieces length wise. This was done to get 2 long pieces that were 3.5”
                    wide each. Now unlike the enclosure pieces, the frame required the inner edge to be chamfered and slots
                    on the top and side pieces. Using the router table and the 45° chamfering bit, and some scrap pieces
                    of wood, a fence was setup to be able to run the longer pieces through the router without having fingers
                    nearby. This fence also ensured that the chamfer was a nice even edge the entire length of the piece.
                    With this setup, the edges on each of the long 3.5” wide pieces of wood were made, as shown in the example
                    figure below.
                </p>

                <div class="figure-image">
                    <img src="assets/blog3/Chamfer%20Cut.png" alt="Frame pieces, Chamfered (before and after)">
                </div>
                <figcaption class="figure-caption-custom">Figure 6: Frame pieces, Chamfered (before and after)</figcaption>
                <p class="blog-content">
                    With that task complete, the mitre saw was to cut the frame pieces down to length with the designed
                    45° mitre cut ends. However, while there was initially enough wood for 2 spare cuts if something went
                    wrong, due to cutting the ends in the same direction on one piece the were no back-up pieces for the
                    remaining slotting if something went wrong.  Because of this, before each of the remaining slots were
                    made in the wood, several slots were made on spare test pieces to ensure the depth and length of the
                    slots were correct.
                </p>

                <div class="figure-image">
                    <img src="assets/blog3/Practice%20Slots.jpg" alt="Practice slots, side member LED slots (¼” deep, ¾” wide)">
                </div>
                <figcaption class="figure-caption-custom">Figure 7: Practice slots, side member LED slots (¼” deep, ¾” wide)</figcaption>
                <p class="blog-content">
                    For the slots on the side members, the design called for a slot to be routed to half the depth of the
                    wood (¼”) using the ¾” straight routing bit. The aluminum LED channels would be placed in these slots
                    later in the fabrication, but for now they could be routed in. Because there was only one shot to get
                    the slots right, due to limited pieces of wood, a special custom fence was clamped to the router table
                    for each piece, as is shown in Figure 8 below.
                </p>

                <div class="figure-image">
                    <img src="assets/blog3/Router%20Table%20Fence.jpg" alt="Router Table Fence">
                </div>
                <figcaption class="figure-caption-custom">Figure 8: Router Table Fence</figcaption>
                <p class="blog-content">
                    The first side member piece of the frame was routed well, Figure 9 (left side). However, when routing
                    the second piece, the bit came loose from the router chuck due to vibrations, and the bit made a hole
                    right through piece. This was an unfortunate set back as there wasn’t extra wood to try and replace
                    the piece with, so it would have to be fixed on a future day of fabrication using some glue, sawdust,
                    and a wood plug. Despite the set back with all of this done, the ends of each piece were sanded and
                    set aside to be glued.
                </p>

                <div class="figure-image">
                    <img src="assets/blog3/FrameSideMembers.png" alt="Slotted, Frame Side Members – Left (#1) and Right (#2)">
                </div>
                <figcaption class="figure-caption-custom">Figure 9: Slotted, Frame Side Members – Left (#1) and Right (#2)</figcaption>
                <p class="blog-content">
                    This left the top piece to be slotted. Now, this was probably the most complicated part of fabrication,
                    as it would require 3 separate slots in order to make a hole for the WAKE camera, and slot to fit it
                    in on the back. First the slot for the camera was routed straight through the wood as shown in Figure 10,
                    top left. Then a trace was drawn on the back and a new fence setup for the 2 slots to make the camera
                    space in the frame (top right). The first slot was good, but the second slot was done with a fence set
                    to the wrong position (bottom left). Finally, the proper second slot was done in the right position
                    (bottom right). Then chisels and a hammer were used to remove the excess and sharp edges between each
                    slot.
                </p>

                <div class="figure-image">
                    <img src="assets/blog3/TopSlots.png" alt="Top Frame Camera Slot – Hole Through (Top Left), Trace (Top Right), Mistake (Bottom Left), Final slot (Bottom Right)">
                </div>
                <figcaption class="figure-caption-custom">Figure 10: Top Frame Camera Slot – Hole Through (Top Left), Trace (Top Right), Mistake (Bottom Left), Final slot (Bottom Right)</figcaption>
                <p class="blog-content">
                    The last step of the day was to glue the frames together. It would have taken 4 long clamps for both
                    the frame and the enclosure, so instead custom frames were made out of extra 2x4’s that would hold the
                    pieces together tightly as the glue dried over night as shown below in Figure 11.
                </p>

                <div class="figure-image">
                    <img src="assets/blog3/GluedEnclosureMirror.png" alt="Glued Enclosure (Left), Glued Mirror Frame (Right)">
                </div>
                <figcaption class="figure-caption-custom">Figure 11: Glued Enclosure (Left), Glued Mirror Frame (Right)</figcaption>
            </mat-card-content>
        </mat-card>
    </div>
</div>

