<app-navbar-custom></app-navbar-custom>
<div class="row justify-content-center w-100">
    <div class="col-8">
        <mat-card>
            <mat-card-header>
                <mat-card-title>What does it take to make a WAKE?</mat-card-title>
                <mat-card-subtitle>Part 6: Fitting in and form fitting – February 19, 2021 Fabrication Team</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-8/MonitorFitToFrame.jpg" alt="Monitor fit to frame" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 1: Monitor Fit to Frame</figcaption>
                <p class="blog-content">
                    With all the major mechanical parts of WAKE mirror system completed, it was time to start fitting in
                    the major electrical components, starting first with the stripped-down monitor screen. However, while
                    the screen fit in loosely along the vertical length as shown in Figure 2, it can be seen in Figure 3
                    that the width of the enclosure was approximately 332" to short to fit the screen in place. Obviously,
                    not accounting for tolerances on the enclosure drawings and in the redesign of the system for the smaller
                    monitor led to this discrepancy being missed until after major components were built. It certainly was
                    a disappointing development as there was not enough wood to rebuild the enclosure and significant time
                    had already been sunk into the construction of the original enclosure. Despite this, it was decided to
                    cut a 18”  wide, ¾” deep ridge into both of the front sides of the enclosure to have enough room for
                    the monitor and acrylic mirror to fit in flush to the front of the enclosure. In Figure 4, a new routing
                    fence can be seen setup on the routing table, as well as the ridge cut into the front of the enclosure.
                </p>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-8/Frame%20Vertical%20Fit.jpg" alt="Frame Vertical Fit" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 2: Frame Vertical Fit</figcaption>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-8/FrameHorizontalFit.png" alt="Frame Horizontal Fit – Approximately 3/32” Too Wide (Left); Fit is good (Right)" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 3: Frame Horizontal Fit – Approximately (3/32)” Too Wide (Left); Fit is good (Right)</figcaption>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-8/EnclosureOnRoutingTable.png" alt="Enclosure on Routing Table – Custom Fence setup (Left); (1/8)” edge routed away (Right)" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 4: Enclosure on Routing Table – Custom Fence setup (Left); (1/8)” edge routed away (Right)</figcaption>
                <p class="blog-content">
                    The monitor was then placed into the enclosure again, as shown in Figure 5, and this time it fit in
                    nicely while leaving enough room for the acrylic mirror to be installed on top later. Next, brackets
                    were placed in the back of the enclosure, as shown in Figure 6. The brackets at the top and bottom were
                    to hold the monitor level, as the back of the monitor had several different features that would cause
                    the mirror to be tilted otherwise. The other bracket at the bottom of the enclosure is to serve as the
                    mounting location of the Raspberry Pi Board, so that it is isolated from the other electrical components.
                </p>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-8/MonitoringFittingInFrame.jpg" alt="Monitoring fitting in frame, with gap for acrylic mirror" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 5: Monitoring fitting in frame, with gap for acrylic mirror</figcaption>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-8/BackBrackets.png" alt="Back Brackets – All 3 Brackets (left); Bottom 2 Brackets (Right)" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 6: Back Brackets – All 3 Brackets (left); Bottom 2 Brackets (Right)</figcaption>

                <p class="blog-content">
                    Finally, the position of the Pi board on the top mounting bracket was marked onto the wood and holes
                    drilled to allow the nylon threaded screws to fasten it to the board on a future day, as shown in Figure 7.
                </p>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-8/MarkedUpPiPosition.jpg" alt="Marked Up Pi Position" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 7: Marked Up Pi Position</figcaption>
            </mat-card-content>
        </mat-card>
    </div>
</div>

