<app-navbar-custom></app-navbar-custom>
<div class="row justify-content-center">
    <div  class="col-12 col-sm-11 col-md-10 col-lg-8 col-xl-7">
        <mat-card>
            <mat-card-header>
                <mat-card-title>FYDP in a Pandemic: Fabrication Location, Equipment, and Safety</mat-card-title>
                <mat-card-subtitle>January 20, 2021 - Fabrication Team</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-2/blogTwoPicOne.jpg" alt="Fabrication Site">
                </div>
                <figcaption class="figure-caption-custom">Figure 1: Fabrication Site - Salmon Plumbing, 96 Clarke Rd. London Ontario</figcaption>
                <p class="blog-content">
                    The pandemic added a considerable variable when planning for the fabrication and assembly stages of
                    the FYDP. Hence, multiple plans were initially considered to mitigate risks associated with various
                    levels of lockdown. The initial plan was working in the garage at the apartment of one of the team members.
                    The next plan was working on campus at Waterloo’s engineering student machine shop. Following this was
                    working at family members contractor company in London, Ontario. The final option was using job requests
                    through the engineering machine shop to have components created and to do the final assembly at one
                    of our team members apartments.
                </p>
                <p class="blog-content">
                    As the month of December came to an end, it became clear that the best remaining option on the table
                    was working at the contractor shop. Salmon Plumbing, Heating, and Air Conditioning is a business with
                    a shop located in the western industrial end of London, Ontario. It is worth highlighting the amenities
                    of the space and major pieces of equipment that many other teams may not have had access to during this
                    pandemic. In the image below the two main working spaces are the metal fabrication shop used for HVAC
                    ducts fabrication (on the left) and general machine area used for scrapping old water heaters, air conditioners,
                    and furnaces or making unique parts that cannot be done by other tools onsite (on the right). The workspace
                    was only used during the weekend in order to limit impact on daily business and to decrease risk for
                    all involved of virus transmission. Which brings us to the major consideration of this build post, the
                    topic of safety.
                </p>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-2/blogTwoPicTwo.jpg" alt="Working Spaces">
                </div>
                <figcaption class="figure-caption-custom">Figure 2: Working Spaces - Metal Shop (left), General Machine Shop (right)</figcaption>
                <p class="blog-content">
                    Each of the main tools and pieces of equipment will be detailed briefly in the next section, but some
                    general safety considerations can be discussed first. To begin, the large number of tools described
                    here directly reflects the emphasis on using the right tool for the right task as a form of substitution.
                    For instance, six different saws could be used in cutting tasks for the project ranging from a hand
                    saw, jig saw, circular saw, mitre saw, and table saw depending on the action required and the level
                    of safety provided by the tool. Furthermore, fences were put in place for both the router table and
                    table saw when hands would otherwise get too close to the rotating pieces. As well, in terms of administrative
                    control, having multiple people working together ensured no one could be injured without others noticing
                    and helped to make sure the procedure for any action was well defined and understood by everyone involved
                    before energizing any piece of equipment. In addition working indoors in a large, well ventilated space
                    setup for fabrication helped to avoid the risks posed by cold weather or fumes when working with glue and paint.
                </p>
                <p class="blog-content">
                    All working spaces were kept clean and organized in order to avoid trips, slips, or cutting hazards.
                    For each piece of equipment, testing of safety features was done before using it in fabrication. In
                    the case of the router table, it was determined the red emergency plug would not de-energize the router
                    if it was already on and would only prevent the router from being turned on it if was removed. Hence,
                    it was agreed that instead, any time fences were being adjusted on the tabletop or bits being changed/moved
                    the table would first be unplugged to prevent it from being accidentally energized. Similar precautions
                    were taken for each piece of equipment and communicated clearly to everyone present before any fabrication
                    was done with it. Finally, personal PPE worn throughout the fabrication and assembly process included
                    safety glasses, earplugs, safety boots, properly fitting clothing, and the removal of any chains, bracelets,
                    or rings that could get caught in rotating machinery.
                </p>
                <mat-card-subtitle class="blog-content-subtitle">Equipment and Tools</mat-card-subtitle>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-2/blogTwoPicThree.jpg" alt="Table Saw">
                </div>
                <figcaption class="figure-caption-custom">Figure 3: Table Saw</figcaption>
                <p class="blog-content">
                    Was used to make the major straight cuts on the cherry wood pieces that would form the frame, brackets,
                    mounts, and the enclosure of the WAKE system. As well, the blade was angled to 45° to make the required
                    cut for the French cleat, as can be seen in the below image.
                </p>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-2/blogTwoPicFour.jpg" alt="Angled Table Saw">
                </div>
                <figcaption class="figure-caption-custom">Figure 4: Angled Table Saw</figcaption>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-2/blogTwoPicFive.jpg" alt="Fully Assembled Router Table">
                </div>
                <figcaption class="figure-caption-custom">Figure 5: Fully Assembled Router Table</figcaption>
                <p class="blog-content">
                    The router table consisted of several components shown in the following figure and was used in cutting
                    slots and chamfers into the front facing frame. To use, the router itself could be fixed to the bottom
                    of the router table. On top of the router table the built in fences could be used, or custom fences
                    could be clamped on top when required. As for bits, the 2 straight bits (½” and ¾”) and the 45° chamfering
                    bit were used to get the appropriate features.
                </p>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-2/blogTwoPicSix.jpg" alt="Router Components">
                </div>
                <figcaption class="figure-caption-custom">Figure 6: Router Components - Router (top left), Router Table (top right), Router bits (bottom)</figcaption>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-2/blogTwoPicSeven.jpg" alt="Mitre Saw">
                </div>
                <figcaption class="figure-caption-custom">Figure 7: Mitre Saw</figcaption>
                <p class="blog-content">
                    Used for making the 45° mitre cuts for the cherry wood front frame and back enclosure of the WAKE system.
                </p>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-2/blogTwoPicEight.jpg" alt="Drill Press">
                </div>
                <figcaption class="figure-caption-custom">Figure 8: Drill Press</figcaption>
                <p class="blog-content">
                    Used to drilling pilot holes in the in the cherry wood enclosure pieces for the wood screws connecting
                    the French cleat. Also, used to countersink said holes in the baltic birch plywood.
                </p>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-2/blogTwoPicNine.jpg" alt="Bench Grinder">
                </div>
                <figcaption class="figure-caption-custom">Figure 9: Bench Grinder</figcaption>
                <p class="blog-content">
                    Used to grind sharp metal edges down, like for modified brackets or nails that were too long for frame.
                </p>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-2/blogTwoPicTen.jpg" alt="Jig Saw">
                </div>
                <figcaption class="figure-caption-custom">Figure 10: Jig Saw</figcaption>
                <p class="blog-content">
                    Used to cut acrylic sheet to mirror size and for removing excess material from USB slots in the cherry enclosure.
                </p>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-2/blogTwoPicEleven.jpg" alt="Circular Saw">
                </div>
                <figcaption class="figure-caption-custom">Figure 11: Circular Saw</figcaption>
                <p class="blog-content">
                    Used for cutting notches in cherry enclousure for power cord and webcam wire at exact depths.
                </p>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-2/blogTwoPicTwelve.jpg" alt="Corded and Cordless Drills">
                </div>
                <figcaption class="figure-caption-custom">Figure 12: Corded and Cordless Drills</figcaption>
                <p class="blog-content">
                    Used for drilling LED light holes in cherry frame and enclosure, as well as, for pilot holes for the
                    mounting and supporting brackets in the back of the cherry enclosure.
                </p>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-2/blogTwoPicThirteen.jpg" alt="Hand Saw and Mitre Wooden Box">
                </div>
                <figcaption class="figure-caption-custom">Figure 12: Hand Saw and Mitre Wooden Box</figcaption>
                <p class="blog-content">
                    Used to cut the LED aluminum channel and opal plastic diffusers down to size, in order to fit in the
                    front frame of the WAKE system.
                </p>
                <p class="blog-content">
                    Finally, to round out the list, some other common tools, materials, and equipment used used included:
                    a vise, screwdrivers, files, chisels, hammers, clamps, wood glue, paintbrushes, silicone and caulk guns,
                    sandpaper, calipers, tape measure, vise grips, putty knife, spray bottle, vinyl smoother, snap off utility
                    knife, and various clothes and rags.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>

