<app-navbar-custom></app-navbar-custom>
<div class="col align-content-between">

    <div class="row justify-content-center" style="padding-bottom: 64px;">
        <div class="col-12  col-sm-10 col-md-8 col-lg-6  col-xl-6">
            <mat-card routerLink="/blog-post-mech-6" class="blog-card" style="cursor: pointer">
                <mat-card-header>
                    <mat-card-title>What does it take to make a WAKE? (Part 4)</mat-card-title>
                    <mat-card-subtitle>February 14, 2021 Fabrication Team</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/blog-mech-6/BackComponentsForEnclosure.jpg" alt="Back Components for Enclosure">
                <mat-card-content>
                    <p></p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row justify-content-center" style="padding-bottom: 64px;">
        <div class="col-12  col-sm-10 col-md-8 col-lg-6  col-xl-6">
            <mat-card routerLink="/blog-post-mech-5" class="blog-card" style="cursor: pointer">
                <mat-card-header>
                    <mat-card-title>What does it take to make a WAKE? (Part 3)</mat-card-title>
                    <mat-card-subtitle>February 10, 2021 Fabrication Team</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/blog-mech-5/AccidentalHole.jpg" alt="Accidental Slotting Hole">
                <mat-card-content>
                    <p></p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row justify-content-center" style="padding-bottom: 64px;">
        <div class="col-12  col-sm-10 col-md-8 col-lg-6  col-xl-6">
            <mat-card routerLink="/blog-post-mech-4" class="blog-card" style="cursor: pointer">
                <mat-card-header>
                    <mat-card-title>What does it take to make a WAKE? (Part 2)</mat-card-title>
                    <mat-card-subtitle>February 3, 2021 Fabrication Team</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/blog-mech-4/GluedEnclosureMirror.png" alt="Glued Enclosure Mirror">
                <mat-card-content>
                    <p></p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row justify-content-center" style="padding-bottom: 64px;">
        <div class="col-12  col-sm-10 col-md-8 col-lg-6  col-xl-6">
            <mat-card routerLink="/blog-post-mech-3" class="blog-card" style="cursor: pointer">
                <mat-card-header>
                    <mat-card-title>What does it take to make a WAKE? (Part 1)</mat-card-title>
                    <mat-card-subtitle>January 27, 2021 - Fabrication Team</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/blog-mech-3/Personal_Notebook.jpg" alt="Personal Notebook">
                <mat-card-content>
                    <p></p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row justify-content-center" style="padding-bottom: 64px;">
        <div class="col-12  col-sm-10 col-md-8 col-lg-6  col-xl-6">
            <mat-card routerLink="/blog-post-soft-2" class="blog-card" style="cursor: pointer">
                <mat-card-header>
                    <mat-card-title>Communication Between Project Components (Part 1)</mat-card-title>
                    <mat-card-subtitle>January 26, 2021 Software Team</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/blog-soft-2/ros-instructables.jpg" alt="ROS Instructables">
                <mat-card-content>
                    <p></p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row justify-content-center" style="padding-bottom: 64px;">
        <div class="col-12  col-sm-10 col-md-8 col-lg-6  col-xl-6">
            <mat-card routerLink="/blog-post-mech-2" class="blog-card" style="cursor: pointer">
                <mat-card-header>
                    <mat-card-title>FYDP in a Pandemic: Fabrication Location, Equipment, and Safety</mat-card-title>
                    <mat-card-subtitle>January 20, 2021 - Fabrication Team</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/blog-mech-2/blogTwoPicOne.jpg" alt="Fabrication Site">
                <mat-card-content>
                    <p></p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <br>

    <div class="row justify-content-center">
        <div  class="col-12  col-sm-10 col-md-8 col-lg-6  col-xl-6">
            <mat-card routerLink="/blog-post-mech-1" class="blog-card" style="cursor: pointer">
                <mat-card-header>
                    <mat-card-title>FYDP in a Pandemic: Sourcing Fabrication Material</mat-card-title>
                    <mat-card-subtitle>January 13, 2021 - Fabrication Team</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/blog-mech-1/blogOnePicOne.jpg" alt="Associated Hardwood Boards">
                <mat-card-content>
                    <p></p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <br>

    <div class="row justify-content-center">
        <div  class="col-12  col-sm-10 col-md-8 col-lg-6  col-xl-6">
            <mat-card routerLink="/blog-post-soft-1" class="blog-card" style="cursor: pointer">
                <mat-card-header>
                    <mat-card-title>FYDP in a Pandemic: Software Team Gets Started</mat-card-title>
                    <mat-card-subtitle>January 10, 2021 - Software Team</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/blog-soft-1/programmers_during_quarantine.png" alt="programmers during quarantine meme">
                <mat-card-content>
                    <p></p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <br>
</div>
