<app-navbar-custom></app-navbar-custom>
<div class="row justify-content-center w-100">
    <div class="col-8">
        <mat-card>
            <mat-card-header>
                <mat-card-title>What does it take to make a WAKE?</mat-card-title>
                <mat-card-subtitle>Part 4: French Cleat and Lip – February 14, 2021 Fabrication Team</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-6/BackComponentsForEnclosure.jpg" alt="Back Components for Enclosure" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 1: Back Components for Enclosure</figcaption>
                <p class="blog-content">
                    While the hole repair on the front frame was drying, the next step in the fabrication process was to
                    construct the French cleat and bottom lip required to mount the mirror onto a finished wall. In contrast
                    to the frame and enclosure components that were made out of cherry wood, the mounting components were
                    made out of Baltic birch plywood for better mechanical properties. Because the original monitor failed
                    to work in December, a second slightly smaller monitor was used instead. While the original design had
                    both components of the French cleat at 18” long and flush with the edges of the mirror enclosure, the
                    new design only required the mirror enclosure to be 16” long. The wall component of the French cleat
                    was still designed to be 18” long to ensure that there was enough room to land the wall screws 16” apart
                    center to center on the wall stud while keeping the screws close to 1” from the ends of the cleat to
                    prevent tear out as calculated last term. Also, the cleats position was moved to the top of the enclosure
                    to give the greatest support and consequently to prevent the mirror from leaning on the wall a bottom
                    lip of plywood was added to keep the mirror level.
                </p>

                <p class="blog-content">
                    With these design considerations in mind, the first step was cutting the plywood down to size using
                    the table saw. The plywood was 14.5” wide, so for French cleat an 18” long piece was cut out, while
                    a 16” long by 3” wide piece was cut out for the bottom lip. To create the required 45° angle for the
                    cleat, the table saw blade was adjusted to be on the corresponding angle as shown in Figure 2 below.
                    The results of this cut can be seen in Figure 3 and with this complete the table saw was returned to
                    its perpendicular position to cut the enclosure cleat component down to 16” long as shown in Figure 4.
                </p>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-6/TableSaw.jpg" alt="Table Saw turned to 45° angle" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 2: Table Saw turned to 45° angle</figcaption>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-6/FrenchCleatAfterCut.png" alt="French Cleat After Angled Cut" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 3: French Cleat After Angled Cut</figcaption>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-6/BalticPlywoodPieces.jpg" alt="Baltic Plywood Pieces – French Cleat (Top), Lip (Bottom)" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 4: Baltic Plywood Pieces – French Cleat (Top), Lip (Bottom)</figcaption>

                <p class="blog-content">
                    With the required mounting pieces cut to size, the next step was to drill holes for the wood screws.
                    As the cherry wood was much stronger than the weakest possible wood for the wall studs it would have
                    been impossible to drive the screw in by hand, while using an electrically powered drill would have
                    split the wood. Instead, pilot holes were drilled for each hole through the plywood and into the cherry
                    enclosure. To do this cleanly, the holes locations were marked on the corresponding plywood component,
                    and then the component was clamped into place onto the back of the mirror enclosure shown in Figure 5.
                    The drill press was then used to first drill out the 8 pilot holes and also to drill out the required
                    countersink so that the screws were fully embedded in the mirror assembly shown in Figure 6. A similar
                    process was completed for the wall component of the French cleat with the centers being spaced 16” apart
                    to line up with the studs in the walls that the mirror would be mounted on.
                </p>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-6/DrillHolesAndClamped.png" alt="Drill Holes and Clamped – French Cleat (Top), Lip (Bottom)" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 5: Drill Holes and Clamped – French Cleat (Top), Lip (Bottom)</figcaption>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-6/PlywoodComponentsScrewedInPlace.jpg" alt="Plywood Components Screwed in Place" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 5: Plywood Components Screwed in Place</figcaption>
            </mat-card-content>
        </mat-card>
    </div>
</div>

