<app-navbar-custom></app-navbar-custom>
<div class="row justify-content-center w-100">
    <div class="col-8">
        <mat-card>
            <mat-card-header>
                <mat-card-title>What does it take to make a WAKE?</mat-card-title>
                <mat-card-subtitle>Part 2: Breaking the molds, Aluminum Channels and holes – February 3, 2021 Fabrication Team</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-4/GluedEnclosureMirror.png" alt="Glued Enclosure Mirror" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 1: Glued Enclosure (Left), Glued Mirror Frame (Right)</figcaption>
                <p class="blog-content">
                    The last step of the previous week was to glue the frames together in wood molds. Hence, the first step
                    this week was to remove the enclosure and frame from the molds. Upon doing so, one could see the residue
                    of the glue in the area around the mitre joints on both the frame and enclosure, Figure 2 below for
                    example. Therefore, the excess glue was sanded off the joints before continuing with any further construction.
                </p>


                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-4/EnclosureGlueResidue.png" alt="Enclosure Glue Residue" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 2: Enclosure - Glue Residue</figcaption>
                <p class="blog-content">
                    With that completed, the next step was to cut the main components for the LED light system on the front
                    frame of the mirror. Using a wooden mitre box and a hand saw, each piece was cut down to size in order
                    to fit into the previously cut slots, as shown in Figure 3 below. The opal LED light diffuser was soft
                    plastic, and care needed to be taken not to scratch the front surface. On the other hand, the LED aluminum
                    channel was stronger and after being cut had a much rougher edge that required the ends to be deburred
                    for the end caps to fit on cleanly. To deburr the ends, the shop grinders was used as shown in Figure 4.
                </p>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-4/CuttingLEDcomponents.png" alt="Cutting LED Components" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 3: Cutting LED components – Opal Diffuser (Left), Aluminum Channel (Right)</figcaption>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-4/DeburringAluminumChannelOnGrinder.jpg" alt="Deburring Aluminum Channel on Grinder" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 4: Deburring Aluminum Channel on Grinder</figcaption>
                <p class="blog-content">
                    Before fitting the LED components into the frame’s slots, one final step was required. While the router
                    straight bit had removed the majority of the cherry wood in the slot, at both ends there were rounded
                    ends that needed to be squared using a chisel and hammer. In Figure 5 below, these ends can be seen
                    before, during, and after chiseling as well as the components fitting snugly into place.
                </p>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-4/LEDSlots.png" alt=" LED Slots – Excess Wood (Top Left), Chiseling Wood out (Top Right), Slot After (Bottom Left), Channel with End Cap (Bottom Right" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 5:  LED Slots – Excess Wood (Top Left), Chiseling Wood out (Top Right), Slot After (Bottom Left), Channel with End Cap (Bottom Right</figcaption>
                <p class="blog-content">
                    The remaining step was to drill holes through the aluminum channel and cherry wood of the frame so that
                    a 5-wire 18 AWG cable could be fed to the LED strips. The drill press was used for this again, as it
                    allowed the hole to be placed close to the bottom end of the slots, and made easy work as the cherry
                    wood was quite hard. The results of this task can be seen in Figure 6 below.
                </p>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-4/LEDWireHoles.png" alt="LED Wire Holes" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 6: LED Wire Holes</figcaption>
                <p class="blog-content">
                    With all these tasks completed the end caps, opal diffuser, and aluminum channel could be placed into
                    each slot of the front frame. The initial fit was really good and didn’t require the installation of
                    the mounting brackets in order to hold the LED components in place as shown in Figure 7.
                </p>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-4/LEDComponentsInstalled.png" alt="LED Components Installed" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 7: LED Components Installed</figcaption>
            </mat-card-content>
        </mat-card>
    </div>
</div>

