<app-navbar-custom></app-navbar-custom>
<div class="row justify-content-center w-100">
    <div class="col-8">
        <mat-card>
            <mat-card-header>
                <mat-card-title>What does it take to make a WAKE?</mat-card-title>
                <mat-card-subtitle>Part 8: Stain, Mirror, Braces, and gluing – February 27, 2021 Fabrication Team</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-10/EnclosureAndFrameFirstCoatOfStain.jpg" alt="Enclosure and Frame First Coat of Stain" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 1: Enclosure and Frame First Coat of Stain</figcaption>
                <p class="blog-content">
                    With the all the major components fit and holes/slots made in the frame and the enclosure it was finally
                    time to stain the project. All of the components were carefully removed and stored in a separate location,
                    while both the frame and the enclosure were completely sanded down with medium grade and then fine grade
                    sandpaper. With this down, the cherry wood stain as shown in Figure 2 could be applied. However, the
                    back side of the frame was left unstained at this time as the final assembly called for the two pieces
                    to be glued together. In total two coats of stain were applied over a 48 hour period.
                </p>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-10/MinWaxWoodFinishCherry.jpg" alt="MinWax Wood Finish, Cherry" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 2: MinWax Wood Finish, Cherry</figcaption>
                <p class="blog-content">
                    While the stain was drying, it was finally time to created the mirrored surface of the system. First,
                    using a packing knife the clear 18" acrylic sheet was cut down to size in order to fit in the front
                    of the enclosure on top of the monitor. Once this was down the reflective mirror could be applied to
                    it. Using soap, a spray bottle of water, and a squeegee the reflective film was carefully applied to
                    the clear surface of the acrylic. In Figure 3, both the tools used and the final reflective surface
                    of the two-way acrylic mirror can be seen.
                </p>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-10/AcrylicMirror.png" alt="Acrylic Mirror – Tools (Left); Reflectiveness once dry (Right)" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 3: Acrylic Mirror – Tools (Left); Reflectiveness once dry (Right)</figcaption>

                <p class="blog-content">
                    One final mechanical change to the mirror system, came after a dry run to fit in all the electronics,
                    and was the addition of brackets to the power bar that would have to be held vertically within the
                    enclosure in order to fit all of the wires properly. In Figure 4, these brackets can be seen placed
                    specifically avoid interfering with the wires, and later bent into place to hold the power bar tightly.
                </p>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-10/BracketsForPowerBar.png" alt="Braces for power bar – Placement (Left); Bent in Place (Right)" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 4: Braces for power bar – Placement (Left); Bent in Place (Right)</figcaption>

                <p class="blog-content">
                    With all these steps complete it was time for the moment of truth, gluing the assembly together. A quick
                    check of the monitor almost caused a heart attack or stroke, as it didn’t turn on. But a check of the
                    power ribbon revealed it had accidentally been pulled loose. It was fixed back into place, along with the
                    monitor and the acrylic two-way mirror on top of it before the frame was held on top. As gluing together
                    the final assembly would be difficult to do, we spent 30 measuring and squaring each side of the frame
                    with the enclosure until we were within 132" at each corner and in each direction in the x-y plane of
                    the mirror. Once we were satisfied, lines were drawn in pencil on the backside of the unstained frame
                    shown in Figure 5. Glue was then applied to the top of the enclosure, and another half-hour was spent
                    positioning the frame on the front along with installing the required clamps in place, as shown in Figure 6.
                </p>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-10/AligningFrameAndEnclosureBeforeGluing.png" alt="Aligning Frame and Enclosure Before Gluing" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 5: Aligning Frame and Enclosure Before Gluing</figcaption>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-10/FrameAndEnclosureGluedAndClamped.png" alt="Frame and Enclosure – Glued and Clamped" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 6: Frame and Enclosure – Glued and Clamped</figcaption>
            </mat-card-content>
        </mat-card>
    </div>
</div>

