<app-navbar-custom></app-navbar-custom>
<div class="row justify-content-center w-100">
    <div class="col-8">
        <mat-card>
            <mat-card-header>
                <mat-card-title>What does it take to make a WAKE?</mat-card-title>
                <mat-card-subtitle>Part 9: Finish, Wire Management, and Installed on wall – March 6, 2021 Fabrication Team</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-11/FinishCoatsApplied.jpg" alt="Finish Coats Applied" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 1: Finish Coats Applied</figcaption>
                <p class="blog-content">
                    After letting the glue cure, the clamps were removed from the frame and 3 coats of finish were applied
                    to give the mirror a nice gloss look. This gloss appearance can be best seen in Figure 2 below.
                </p>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-11/CloseUpOfFinishCoating.jpg" alt="Close up of Finish Coating" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 2: Close up of Finish Coating</figcaption>

                <p class="blog-content">
                    Once the finishing coats were completed and dried, the full set of wires (excluding the LED cables)
                    were carefully placed into the back of the enclosure. Proper wire management was completed to ensure
                    everything fit nicely into the back. Any extra long cables had the excess looped and taped out of the
                    way, while buttons and ports that needed to be accessible were arranged with enough room to do so as
                    shown in Figure 3 and 4.
                </p>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-11/WireManagement.jpg" alt="Wire Management" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 3: Wire Management</figcaption>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-11/WireManagementCloseUp.jpg" alt="Wire Management – Close up" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 4: Wire Management – Close up</figcaption>

                <p class="blog-content">
                    Now with all the major components in place, stained and finished, a couple of photos of the mirror were
                    taken as well as testing the monitors ability to display different screens through the mirror. In Figure 5
                    below one can see both the highly reflective nature of the mirror as well as how well images played
                    on the monitor are displayed through the two-way acrylic mirror. One final test was to mount the French
                    cleat onto the wall and see if everything held up. Further photos of this are shown in Figure 6, where
                    the mirror was mounted for nearly 2 weeks before being handed over to the software team for the next
                    steps in integration. In all, the system weighed about 25 lbs which was very close to what was expected
                    for it.
                </p>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-11/MirrorAppearence.png" alt="Mirror Appearance (Left); Monitor Testing (Right)" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 5: Mirror Appearance (Left); Monitor Testing (Right)</figcaption>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-11/MirrorMountedOnWall.png" alt="Mirror Mounted on Wall" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 5: Mirror Mounted on Wall</figcaption>
            </mat-card-content>
        </mat-card>
    </div>
</div>

