<app-navbar-custom></app-navbar-custom>
<div class="row justify-content-center w-100">
    <div class="col-8">
        <mat-card>
            <mat-card-header>
                <mat-card-title>FYDP in a Pandemic: Sourcing Fabrication Material</mat-card-title>
                <mat-card-subtitle>January 13, 2021 - Fabrication Team</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-1/blogOnePicOne.jpg" alt="Associated Hardwood Boards">
                </div>
                <figcaption class="figure-caption-custom">Figure 1: Associated Hardwood Boards</figcaption>
                <p class="blog-content">
                    A crucial component to any engineering project is to have a reliable way to source material
                    in a timely manner that aligns with the anticipated timeline of the project. Components that are
                    overlooked in the design phase and must be sourced last minute, or specialty components that have
                    longer lead times, can easier derail a projects timeline if they are forgotten about. This is especially true
                    for a final year design project (FYDP) that only spans a 32-week period, of which less than 20 weeks exist
                    between the completion of the design phase and the required demonstration of a prototypical version of
                    the project.
                </p>
                <p class="blog-content">
                    Obviously, as with everything else in the past year, the COVID-19 pandemic has disturbed
                    established supply chains and put greater strain on the common ways to source material the world over.
                    Furthermore, as many supply chains are global and multifaceted in nature it is hard to foresee shortfalls in the
                    production and distribution of components. For this reason, our group put a great emphasis on sourcing
                    material as early as possible to avoid negatively impacting build and testing timelines in the second
                    half of the FYDP that are time sensitive. All of the electronic components were ordered online by November
                    28th, 2020, to give ample time for components to be shipped before the new year. In all, the components
                    came from Amazon, buyapi, and BC Robotics to supplement those that the team already had on hand, with the last
                    component arriving on January 13, 2021.
                </p>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-1/blogOnePicTwo.jpg" alt="Online Sources of Electronic Components">
                </div>
                <figcaption class="figure-caption-custom">Figure 2: Online Sources of Electronic Components</figcaption>
                <p class="blog-content">
                    In contrast, it was quicker and more economical to source many of the mechanical components
                    of the WAKE system from the physical location directly. For instance, the wood stain would have cost
                    twice as much if purchased from Amazon as buying it at a hardwood store. As well, there is the added
                    benefit to see the quality of said components, which, when building so many pieces out of hardwood is an
                    important consideration. Furthermore, purchasing hardwood is not as straightforward as plywood or
                    standard cuts at a local hardware store, so it was necessary to locate a source of cherry hardwood that
                    could be visited even in the middle of the current pandemic. For this purpose, our group visited AJM
                    Specialty Lumber in Kitchener, a local retailer of such hardwood and of specialty woodworking services.
                </p>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-1/blogOnePicThree.jpg" alt="AJW Specialty Hardwood Shop">
                </div>
                <figcaption class="figure-caption-custom">Figure 3: AJW Specialty Hardwood Shop</figcaption>
                <p class="blog-content">
                    As one can imagine, hardwood, unlike plywood, does not come in standard precut sizes as
                    trees grow in a range of shapes and diameters. To get the most out of each tree, cuts are ununiform and
                    are made up of random lengths and diameters depending on the grade of the wood. The only dimension that
                    is standardized being the thickness of the pieces (e.g. 1”, 1.25”, 2”). The industry uses a metric known as
                    board feet or board measure, which is a 12” x 12” x 1” piece of hardwood as the standard sale unit.
                    After viewing the pieces of cherry hardwood available and subtracting the defects in the wood like knots
                    and stains, we purchased 5 board feet of ½” thick wood for the front frame of the mirror and 4.5 board
                    feet of 1” thick cherry wood for the main enclosure of the mirror.
                </p>
                <p class="blog-content">
                    The remaining mechanical components were purchased from Lee Valley (LED lighting channel, camera
                    cover, wood glue, metal brackets), Fastenal (for the calculated wood screws), the Engineering
                    Machine Shop (for the French Cleat plywood and acrylic), and Rona (for the cherry wood stain). As well,
                    the only electrical component that was purchased in person was the 4 NMOS transistors that were
                    acquired from Sayal Electronics, as before it was cheaper than purchasing it from Amazon. All of these
                    purchases were completed by December 8th as it seemed that a provincial lockdown was looming in the near
                    future. The only exception being for the cherrywood stain that was purchased in the new year after
                    consulting with Cindy Salmon about what would give the best appearance and finish to the product once
                    fabrication was complete.
                </p>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-1/blogOnePicFour.jpg" alt="Other Sources of Mechanical Components">
                </div>
                <figcaption class="figure-caption-custom">Figure 4: Other Sources of Mechanical Components</figcaption>
            </mat-card-content>
        </mat-card>
    </div>
</div>

