<app-navbar-custom></app-navbar-custom>
<div class="row justify-content-center w-100">
    <div class="col-8">
        <mat-card>
            <mat-card-header>
                <mat-card-title>What does it take to make a WAKE?</mat-card-title>
                <mat-card-subtitle>Part 3: Bad vibrations, repairing hole – February 10, 2021 Fabrication Team</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-5/AccidentalHole.jpg" alt="Accidental Hole" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 1: Accidental Slotting Hole</figcaption>
                <p class="blog-content">
                    From the first day of work, when the slots were cut into the frame, the accidental hole through the
                    frame needed to be repaired. While the hole would be out of sight on the final product, it was simple
                    enough to fix at this time. Two pieces were used to fill this gap, a plug drilled using a hole saw bit
                    out of the extra cherry wood, and a very slim shim cut off of another extra piece of wood. The plug
                    is shown in Figure 2 below, with the best plug was filed and fitted to the hole, and the shim piece
                    can be seen in Figure 3.
                </p>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-5/WoodPlugs.png" alt="Wood Plugs – Plugs Cut from Wood (Left), Plug Fitted in Place (Right)">
                </div>
                <figcaption class="figure-caption-custom">Figure 2: Wood Plugs – Plugs Cut from Wood (Left), Plug Fitted in Place (Right)</figcaption>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-5/DryFitPlugAndShim.jpg" alt="Dry Fit Plug and Shim" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 3: Dry Fit Plug and Shim</figcaption>
                <p class="blog-content">
                    With this done, the pieces could be glued into place, and can be seen in Figure 4. As this process was
                    going on, the excess glue was carefully wiped away to reduce the amount of sanding required after it
                    dried. In the end, the hole was fixed quite nicely on the backside, making it appear more like a knot
                    that was replaced instead of a hole as can be seen in Figure 5.
                </p>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-5/PlugAndShimGluedAndClamped.png" alt="Plug and Shim, Glued and Clamped" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 4: Plug and Shim, Glued and Clamped</figcaption>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-5/HoleFixed.png" alt="Hole Fixed">
                </div>
                <figcaption class="figure-caption-custom">Figure 5: Hole Fixed</figcaption>
            </mat-card-content>
        </mat-card>
    </div>
</div>

