<app-navbar-custom></app-navbar-custom>
<div class="row justify-content-center w-100">
    <div class="col-8">
        <mat-card>
            <mat-card-header>
                <mat-card-title>What does it take to make a WAKE?</mat-card-title>
                <mat-card-subtitle>Part 7: Holes and slots galore – February 21, 2021 Fabrication Team</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-9/PiMountingBoardMarkup.jpg" alt="Pi Mounting Board Markup" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 1: Pi Mounting Board Markup</figcaption>
                <p class="blog-content">
                    Continuing from the last post, further modifications were made to the mechanical structure of the WAKE
                    mirror to better integrate the electronics. While the screw holes were drilled out for the nylon fasteners
                    of the Raspberry Pi board, it was decided to also add a hole to improve the natural convection around
                    the Pi’s CPU. This was in the hope that it would help to prevent the board from reaching to high of
                    a temperature and the firmware from throttling the performance of the CPU down. Using a corded drill,
                    pilot holes were made in the corners of gap to allow the jigsaw room to maneuver as shown in Figure 2.
                    The end result was a sizeable hole that would help to more air over the main components of the Pi board
                    that tend to get the warmest under normal operation. With this complete the Pi could be mounted on top
                    of the nylon fasteners to the Pi mounting board.
                </p>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-9/AirFlowGap.png" alt="Air Flow Gap – Pilot Holes for Jigsaw (Left); Finished Hole (Right)" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 2: Air Flow Gap – Pilot Holes for Jigsaw (Left); Finished Hole (Right)</figcaption>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-9/PiMountedNylonFasteners.png" alt="Pi Mounted, Nylon Fasteners" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 3: Pi Mounted, Nylon Fasteners</figcaption>

                <p class="blog-content">
                    Next up was to cut slots for the power and webcam cables, as these would both be blocked by the plywood
                    components attached to the back of the mirror when hung on the wall. Figure 5 shows the marked up sections
                    to be removed in order to cleanly fit these cables through.
                </p>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-9/ExternalCordSlotsMarkup.png" alt="External Cord Slots Markup – Power Cord (Left); Webcam (Right)" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 4: External Cord Slots Markup – Power Cord (Left); Webcam (Right)</figcaption>

                <p class="blog-content">
                    Using the circular saw shown in Figure 5, each slot was cut out by fixing the saw at a predetermined
                    height. This height was determined by using a set of calipers to determine the approximate diameter
                    of the cables, then leaving enough extra room so that when the French cleat and bottom lip were screwed
                    on they would not compress the cables excessively.
                </p>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-9/ExternalCordSlots.png" alt="External Cord Slots – Circular Saw (Top Left); Power Cord Slot (Top Right); Power Cord (Bottom Left); Webcam Cord (Bottom Right)" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 5: External Cord Slots – Circular Saw (Top Left); Power Cord Slot (Top Right); Power Cord (Bottom Left); Webcam Cord (Bottom Right)</figcaption>

                <p class="blog-content">
                    While the LED wiring would not be installed until the end of fabrication process, it was important to
                    add holes to the enclosure in order to be able to feed the wires to Pi from the LED strips. While the
                    LED light strips had 20 AWG wire provided with them, it was determined that the largest wire to be used
                    would be an 18 AWG 5-wire cable, as each strip required 5 wires; 1 for power, and 1 for White, Red,
                    Blue, and Green. With this in mind, and leaving space to avoid the wood screw holes for the bottom lip
                    as well as the bottom monitor bracket, a spot was marked on both sides of the enclosure inline with
                    the hole into the front frame, as shown in Figure 6. With this done, a cordless drill was used to drill
                    out the holes on each side of the enclosure.
                </p>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-9/LEDWireHoles.png" alt="LED Wire Holes – Markup (Top Left); Holes (Top Right, and Bottom Left); Wire Fit (Bottom Right)" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 6: LED Wire Holes – Markup (Top Left); Holes (Top Right, and Bottom Left); Wire Fit (Bottom Right)</figcaption>
                <p class="blog-content">
                    The final set of holes to be added were the USB charging slots along the side of the enclosure. As before,
                    the positions were first marked up on the side of the enclosure as shown in Figure 7. Pilot drill holes
                    were used to create a gap that the jigsaw could cut from. The majority of the wood was then removed by
                    said jigsaw, and the edges were made smooth by use of reaming the cordless drill and a circular file
                    along the side profiles. This was done until the USB ports fit into the slots. Unfortunately, in order
                    to make them fit cleanly, enough material was removed to either push the USB port in or pull it out
                    completely in regular use. Hence, as shown in Figure 8, the metal brackets previous used for the mounting
                    boards were modified to help keep the USB ports in place and flush to the outer edge of the enclosure.
                    Essentially, the brackets were cut into two similar pieces while being held by a vise. The rough edges
                    were then deburred on the grinder, and the top slot of the bracket was narrowed by striking it with
                    a hammer upon the heavy metal surface. With this done the USB ports would be held firmly in place once
                    installed, 2 of which are shown in Figure 9 below.
                </p>
                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-9/USBSlotPlacement.png" alt="USB Slot Placement" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 7: USB Slot Placement</figcaption>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-9/USBSlotRetainingBrackets.png" alt="USB Slot – Retaining Brackets" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 8: USB Slot – Retaining Brackets</figcaption>

                <div class="figure-image-container">
                    <img src="../../../assets/blog-mech-9/SideProfile.jpg" alt="Side Profile – Enclosure with LED wire Hole and USB Power Slots" style="width: 50%">
                </div>
                <figcaption class="figure-caption-custom">Figure 9: Side Profile – Enclosure with LED wire Hole and USB Power Slots</figcaption>

            </mat-card-content>
        </mat-card>
    </div>
</div>

